# Dasar-Dasar Python

**Tujuan Dari Dasar Python :**
1. Mengenal tipe data
2. Menghindari risiko terjadinya eror
3. Memudahkan dalam penginputan data

**tantangan :**
1. membuat data numerik
2. membuat data string
3. membuat data boolean 

**kriteria keberhasilan :**
1. dapat menentukan tipe data numerik 
2. dapat menentukan tipe data string
3. dapat menentukan tipe data boolen

## Persiapan Data
menggunakan Google Colab

**Apa Itu Tipe Data?**

Tipe Data merupakan pengklasifikasian data berdasarkan jenis data tersebut, atau mudahnya tipe data dapat juga disebut jenis data.

Terdapat 3 tipe data dalam python, yaitu :


1.   **Numerik**
2.   **String**

1.   **Boolean**

## **1. Tipe Data Numerik**

> Tipe data Numerik berisi data yang berupa angka *(numbers)*



*   **Integer**
Tipe data Integer merupakan sebuah tipe data yang memuat bilangan bulat (tanpa tanda desimal).

In [ ]:
Nilai = 100

In [ ]:
print(Nilai)

100



*   **Float** Tipe data float merupakan sebuah tipe data yang memuat angka desimal.

In [ ]:
Panjang = 12.5

In [ ]:
print(Panjang)

12.5



*   **Kompleks** Tipe data kompleks merepresentasikan bilangan kompleks yang dituliskan sebagai x+yj, dengan bagian x yang merupakan bilangan real dan y bilangan imajiner.

In [ ]:
Kompleks = 5+2j

In [ ]:
print(Kompleks)

(5+2j)

## **2. Tipe Data String**
>  Tipe Data String dapat Menampung banyak karakter sekaligus. Juga merupakan Gabungan huruf, angka, whitespace (spasi), dan berbagai karakter.

- **Inisialisasi String dengan Petik Satu**

In [ ]:
petikSatu = 'Selamat Ini Kalimat Pertama Kamu'

In [ ]:
print(petikSatu)

- **Inisialisasi String dengan Petik Dua**

In [ ]:
petikDua = "Kalimat Kedua, Selamat!!!"

In [ ]:
print(petikDua)

----> Dalam Python penggunaan tipe data String dengan petik satu (') atau petik dua (") dinyatakan sama.

In [ ]:
contoh_petiksatu = 'Ini dengan petik satu'
contoh_petikdua = "Ini dengan petik dua"

In [ ]:
print(contoh_petiksatu)

Ini dengan petik satu

In [ ]:
print(contoh_petikdua)

Ini dengan petik dua

- **Inisialisasi String dengan Petik Tiga**

> Biasanya digunakan untuk value dengan kata lebih dari satu baris.

In [ ]:
petikTiga = """Python adalah bahasa pemrograman interpretatif multiguna. Tidak seperti bahasa lain
yang susah untuk dibaca dan dipahami, python lebih menekankan pada keterbacaan kode agar lebih
mudah untuk memahami sintaks. Hal ini membuat Python sangat mudah dipelajari baik untuk pemula
maupun untuk yang sudah menguasai bahasa pemrograman lain"""

In [ ]:
print(petikTiga)

Python adalah bahasa pemrograman interpretatif multiguna. Tidak seperti bahasa lain
yang susah untuk dibaca dan dipahami, python lebih menekankan pada keterbacaan kode agar lebih
mudah untuk memahami sintaks. Hal ini membuat Python sangat mudah dipelajari baik untuk pemula
maupun untuk yang sudah menguasai bahasa pemrograman lain

Kita juga dapat menggunakan '**\n**' sebagai newline, sehingga tidak perlu menggunakan petik tiga tadi.

In [ ]:
kalimat = "Contoh kalimat dengan menggunakan newline.\nAkan sama seperti menggunakan petik tiga tadi."

In [ ]:
print(kalimat)

Contoh kalimat dengan menggunakan newline.
Akan sama seperti menggunakan petik tiga tadi.

## **3. Tipe Data Boolean**

> Tipe Data Boolean merupakan Tipe Data Logika yang hanya memiliki nilai True (1) atau False (0) / Benar atau Salah

In [ ]:
contohTrue = True

In [ ]:
print(contohTrue)

True

In [ ]:
contohFalse = False

In [ ]:
print(contohFalse)

False

** Biasanya **Tipe Data Boolean** ini digunakan untuk pengkondisian, pernyataan benar salah, perulangan, dan lain-lain.

## **Cara Mengetahui Tipe Data di Python**
> Untuk mengetahui tipe data dalam python, bisa digunakan fungsi type(), contoh :

In [ ]:
Nama = "Pevita Pearce"
Kelas = 12
Nilai = 92.9
Perempuan = True

In [ ]:
type(Nama)

str

In [ ]:
type(Kelas)

int

In [ ]:
type(Nilai)

float

In [ ]:
type(Perempuan)

bool